.container{
    background-color: rgb(255, 255, 255);
    padding: 20px;
  
}
.front{
    background-color: rgba(255, 0, 0, 0.382);

}
.back{
    background-color: rgba(0, 149, 255, 0.382);

}
.bottom{
    background-color: rgba(0, 149, 255, .382);

}
    
.left{
    background-color: rgba(255, 0, 0, 0.382);

}
.za{
    background-color: rgba(68, 255, 0, 0.404);

}
.zb{
    background-color:  rgba(68, 255, 0, 0.404);

}
    

