.front{
    width: 200px;
    height: 200px
}
.back{
    width: 200px;
    height: 200px
}
.bottom{
    width: 200px;
    height: 200px
}
.left{
    width: 200px;
    height: 200px
}

.za{
    width: 207px;
    height: 135px

}
.zb{
    width: 207px;
    height: 135px

}
