section {
    width: 100vw;
}

.container {
    border: 1px solid black;
    width: 600px;
    height: 750px;
    border-radius: 40px;
    position: relative;
    top: 140px;
    left: 640px;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(153deg, rgba(0, 0, 0, 1) 0%, rgba(5, 5, 5, 0.6278886554621849) 100%);
    background: -webkit-linear-gradient(153deg, rgba(0, 0, 0, 1) 0%, rgba(5, 5, 5, 0.6278886554621849) 100%);
    background: linear-gradient(153deg, rgba(0, 0, 0, 1) 0%, rgba(5, 5, 5, 0.6278886554621849) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#050505", GradientType=1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;



    .text{
        .textarea,input{
            border-radius: 40px 40px 0 0;
            border: none;
            width: 596px;
            height: 200px;
            background-color: black;
            color: white;

        }
    }
    .row1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 50px;
      
        .rw1,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw2,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw3,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw4,.btn {
            border-radius: 50%;
            width: 90px;
            background-color: #faea08; 
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #d4cc5b;
                

            }
        }
    }
    .row2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 20px;
      
        .rw1,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw2,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw3,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw4,.btn {
            border-radius: 50%;
            width: 90px;
            background-color: #faea08; 
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #d4cc5b;
                

            }
        }
    }
    .row3{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 20px;
      
        .rw1,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw2,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw3,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw4,.btn {
            border-radius: 50%;
            width: 90px;
            background-color: #faea08; 
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #d4cc5b;
                

            }
        }
    }
    .row4{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 20px;
      
        .rw1,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw2,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw3,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw4,.btn {
            border-radius: 50%;
            width: 90px;
            background-color: #faea08; 
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #d4cc5b;
                

            }
        }
    }
    .row5{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 20px;
      
        .rw1,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw2,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw3,button{
            border-radius: 50%;
            width: 90px;
            background-color: #6b6969;
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #929191;
                

            }
        }
        .rw4,.btn {
            border-radius: 50%;
            width: 90px;
            background-color: #faea08; 
            height: 80px;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
                background-color: #d4cc5b;
                

            }
        }
    }
}